.App-header {
  background-color: #282c34;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  top: 0;
  color: white;
}


body {
  /* background-color: #686de0; */
  font-family: 'Roboto', sans-serif;
  color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  text-align: center;
  /* padding: 20px; */
}

label {
  font-size: 1.5rem;
  font-weight: 500;
  color: #282c34;
  padding: 10px;
  font-size: calc(1px + 2vmin);
}

input {
  font-size: 1.5rem;
  font-weight: 500;
  color: #282c34;
  padding: 10px;
  font-size: calc(1px + 2vmin);
}

.input-div {
  padding: 20px;
}

#loadedImage {
  min-width: 500px;
  min-height: 500px;
  max-width: 700px;
  max-height: 700px;
  object-fit: contain;
}